[submodule "libs/json-c"]
	path = libs/json-c
	url = https://github.com/json-c/json-c.git
	branch = json-c-0.12-20140410
[submodule "libs/libgit2"]
	path = libs/libgit2
	url = https://github.com/libgit2/libgit2.git
	branch = v0.22.0-rc1
[submodule "libs/libssh2"]
	path = libs/libssh2
	url = git://git.libssh2.org/libssh2.git
	branch = libssh2-1.5.0
[submodule "libs/http-parser"]
	path = libs/http-parser
	url = https://github.com/joyent/http-parser.git
	branch = v2.4.2
[submodule "libs/libgcrypt"]
	path = libs/libgcrypt
	url = git://git.gnupg.org/libgcrypt.git
	branch = libgcrypt-1.6.3
[submodule "libs/libgpg-error"]
	path = libs/libgpg-error
	url = git://git.gnupg.org/libgpg-error.git
	branch = libgpg-error-1.9
[submodule "libs/zlib"]
	path = libs/zlib
	url = https://github.com/madler/zlib.git
	branch = v1.2.8
[submodule "libs/openssl"]
	path = libs/openssl
	url = git://git.openssl.org/openssl.git
	branch = OpenSSL_1_0_2a
[submodule "libs/gettext"]
	path = libs/gettext
	url = git://git.savannah.gnu.org/gettext.git
	branch = v0.19.4
