[submodule "libs/json-c"]
	path = libs/json-c
	url = https://github.com/json-c/json-c.git
	branch = json-c-0.12-20140410
[submodule "libs/libgit2"]
	path = libs/libgit2
	url = https://github.com/libgit2/libgit2.git
	branch = v0.22.2
[submodule "libs/http-parser"]
	path = libs/http-parser
	url = https://github.com/joyent/http-parser.git
	branch = v2.5.0
[submodule "libs/zlib"]
	path = libs/zlib
	url = https://github.com/madler/zlib.git
	branch = v1.2.8
[submodule "libs/libssh2"]
	path = libs/libssh2
	url = https://github.com/libssh2/libssh2.git
	branch = libssh2-1.5.0
