#
# Copyright (C) Senorsen (Zhang Sen) <sen@senorsen.com>
#
# This software is distributed under the terms of GPLv3 or later,
# See `LICENSE' for more information. 
#

[Unit]
Description=GitLab Webhook auto pull service
After=network.target remote-fs.target

[Service]
Type=forking
PIDFile=/var/run/git-auto-pull.pid
ExecStart=/usr/sbin/git-auto-pull
ExecStop=/bin/kill -WINCH ${MAINPID}
PrivateTmp=true

[Install]
WantedBy=multi-user.target

